<!DOCTYPE html>
<html>
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ipsum possimus aspernatur, ullam ratione, ab
            atque reiciendis consectetur alias est voluptas, minus culpa optio magni! Aperiam optio at deserunt
            mollitia.
    </body>

</html>