<!DOCTYPE html>
<html>
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

            <div class="container m-4">
                <% articles.forEach(i=> { %>
                    <% if(i.approved) { %>
                        <div class="container mb-2">
                            <h1>
                                <%= i.title %> <span style="color:blue">
                                        <%= i.id %>
                                    </span>
                            </h1>
                            <p>
                                <%= i.body %>
                            </p>
                        </div>
                        <% } %>
                            <% }) %>


            </div>



    </body>

</html>